.banner
  background-position center center
  background-repeat no-repeat
  background-size cover

  @media screen and (min-width: $screen-md-min) {
    height 515px
  }

  @media screen and (max-width: $screen-sm-max) {
    height 400px
  }
