.contact
  padding-top 45px

  &__title
    text-transform uppercase

  &__item
    margin-bottom 20px

  &__text
    @extends .text-black
    font-size 1.5rem
    font-weight $regular

  &__icon, &__text
    display inline-block

  &__icon
    margin-right 10px
