input
  &[type="text"], &[type="email"]
    border-bottom 1px solid
    border-left none
    border-right none
    border-top none
    height 45px
    width 100%

  &.input--clean
    border-bottom-color $gray-secondary

textarea
  border 1px solid
  height 200px
  resize none
  width 100%

label
  display inline-block
  font-size 1.4rem
  font-weight $light
  margin-bottom 20px

button
  border none
  box-shadow none

.btn
  font-size 1.2rem
  font-weight bold
  letter-spacing 5px
  padding 15px 45px
  text-transform uppercase
  transition opacity 0.3s ease-in-out

  &:hover
    opacity 0.8
    text-decoration none

  &--small
    font-size 1rem
    padding 15px 38px

  &--white
    background-color $white
    color $black !important

  &--black
    background-color $black
    color $white !important

.form
  &__submit
    text-align right
    width 100%

  &__title
    text-align center
    margin-bottom 60px
    margin-top 100px
    width 100%
