html.lb-disable-scrolling
  overflow hidden
  position fixed
  height 100vh
  width 100vw

.lightboxOverlay
  position absolute
  top 0
  left 0
  z-index 9999
  background-color rgba(255, 255, 255, 0.8)
  opacity 0.8
  display none

.lightbox
  position absolute
  left 0
  width 100%
  z-index 10000
  text-align center
  line-height 0
  font-weight normal

.lightbox .lb-image
  display block
  height auto
  max-width inherit
  max-height none
  border-radius 3px
  border 4px solid white

.lightbox a img
  border none

.lb-outerContainer
  position relative
  *zoom 1
  width 250px
  height 250px
  margin 0 auto
  border-radius 4px
  background-color white

.lb-outerContainerafter
  content ""
  display table
  clear both

.lb-loader
  position absolute
  top 43%
  left 0
  height 25%
  width 100%
  text-align center
  line-height 0

.lb-cancel
  display block
  width 32px
  height 32px
  margin 0 auto

  &:before
    content 'x'
    color white
    font-family monospace
    font-size 3.5rem

.lb-nav
  position absolute
  top 0
  left 0
  height 100%
  width 100%
  z-index 10

.lb-container > .nav
  left 0

.lb-nav a
  outline none

.lb-prev, .lb-next
  height 100%
  cursor pointer
  display block

.lb-prev
  &:before
    content '<'
    left 30px

.lb-next
  &:before
    content '>'
    right 30px

.lb-next, .lb-prev
  &:hover:before
    opacity 1

  &:before
    color white
    font-family monospace
    font-size 3.5rem
    opacity 0
    position absolute
    transition opacity 0.6s
    top 48%

.lb-nav a.lb-prev
  width 34%
  left 0
  float left
  -webkit-transition opacity 0.6s
  -moz-transition opacity 0.6s
  -o-transition opacity 0.6s
  transition opacity 0.6s

.lb-nav a.lb-prevhover
  &:before
    opacity 1

.lb-nav a.lb-next
  width 64%
  right 0
  float right
  -webkit-transition opacity 0.6s
  -moz-transition opacity 0.6s
  -o-transition opacity 0.6s
  transition opacity 0.6s

.lb-nav a.lb-nexthover
  opacity 1

.lb-dataContainer
  margin 0 auto
  padding-top 5px
  *zoom 1
  width 100%
  border-bottom-left-radius 4px
  border-bottom-right-radius 4px

.lb-dataContainerafter
  content ""
  display table
  clear both

.lb-data
  padding 0 4px
  color #ccc

.lb-data .lb-details
  width 85%
  float left
  text-align left
  line-height 1.1em

.lb-data .lb-caption
  font-size 13px
  font-weight bold
  line-height 1em

.lb-data .lb-caption a
  color #4ae

.lb-data .lb-number
  display block
  clear left
  padding-bottom 1em
  font-size 12px
  color #999999

.lb-data .lb-close
  cursor pointer
  display block
  float right
  text-align right
  margin-top 20px
  outline none
  -webkit-transition opacity 0.2s
  -moz-transition opacity 0.2s
  -o-transition opacity 0.2s
  transition opacity 0.2s
  text-decoration none

  &:before
    content 'x'
    color black
    cursor pointer
    font-family monospace
    font-size 3.5rem

.lb-data .lb-closehover
  cursor pointer
