.icon
  &.white
    fill $white

  &.black
    fill $black

  &.bottom
    vertical-align bottom

  &.middle
    vertical-align middle

  &.super
    vertical-align super

  &.text-top
    vertical-align text-top

  &.facebook, &.tumblr, &.instagram
    height 15px
    width 15px

  &.twitter
    height 15px
    width 16px

  &.youtube
    height 15px
    width 16px

  &.logo
    height 30px
    width 145px

    &--small
      height 20px
      width 100px

  &.pin
    margin-left -5px

  &.phone
    margin-left -2px

  &.pin, &.phone, &.email
    height 26px
    width 22px

  &.arrow
    height 18px
    width 20px
