.modal
  bottom 0
  left 0
  opacity 0
  position fixed
  right 0
  transition opacity 0.6s ease-in-out
  top 0
  visibility hidden
  z-index $z-modal

  &.active
    opacity 1
    visibility visible

  &__overlay
    background-color rgba(256, 256, 256, 0.9)
    bottom 0
    left 0
    position fixed
    right 0
    top 0

  &__content
    height 100%
    position relative

    @media screen and (max-width: $screen-sm-max) {
      height 500px
    }

    &__wrapper
      left 50%
      position fixed
      transform translate(-50%, -50%)
      top 50%

      @media screen and (max-width: $screen-sm-max) {
        width 100%
      }

    &__inner
      background-color $white

      &:after
        content ''
        display inline-block
        width 100%

  &__image
    background-position center center
    background-repeat no-repeat
    background-size cover
    height 690px

  &__header
    position absolute
    right 70px
    top 60px

    @media screen and (max-width: $screen-sm-max) {
      right 40px
      top 30px
    }

  &__close
    cursor pointer
    height 20px
    position relative
    width 20px

    &:after, &:before
      background-color $black
      content ''
      display block
      height 2px
      position absolute
      top 9px
      width 20px

    &:after
      transform rotate(45deg)

    &:before
      transform rotate(-45deg)

  &__description
    left 50%
    position absolute
    transform translate(-50%, -50%)
    top 50%
    width calc(100% - 140px)

    @media screen and (max-width: $screen-sm-max) {
      padding 40px
      width 100%
    }

  &__input, &__button
    margin-bottom 35px
