.showcase
  margin-bottom 50px
  position relative

  &__item
    background-position center center
    background-repeat no-repeat
    background-size cover
    display block
    height 705px
    width 100%

    @media screen and (max-width: $screen-sm-max) {
      height 450px
    }

    &:hover
      opacity 0.9

  &__controls
    @extends .hidden-sm, .hidden-xs
    position absolute
    left 100px
    top 50%
    transform translateY(-50%)
    z-index $z-everest

    &__prev, &__next
      cursor pointer
      height 20px
      transform rotate(45deg)
      width 20px

    &__prev
      border-left 1px solid $white
      border-top 1px solid $white
      margin-bottom 30px

    &__next
      border-bottom 1px solid $white
      border-right 1px solid $white
