include ../mixins/svg

header.header.header--black
  .header__logo
    a.header__logo__link(href='/')
      +svg('isolda', 'logo black')
  .header__options
    // Alterações aqui!
    .header__language.header__language--black
      a.header__language__option
        | PT
      a.header__language__option
        | EN
    nav.menu.menu--black
      // Alterações aqui!
      .menu__overlay
      include menu
