ul.footer__menu__list
  li.footer__menu__item
    a.footer__menu__link(href='ready.html')
      | Ready to Wear
  li.footer__menu__item
    a.footer__menu__link(href='archive.html')
      | Gallery
  li.footer__menu__item
    a.footer__menu__link(href='#')
      | Press
  li.footer__menu__item
    a.footer__menu__link(href='#')
      | Isolda ID
  li.footer__menu__item
    a.footer__menu__link(href='contact.html')
      | Contact
  li.footer__menu__item
    a.footer__menu__link(href='about.html')
      | About
  li.footer__menu__item
    a.footer__menu__link(href='#')
      | Shop
