include ../mixins/svg

footer.footer
  .footer__logo
    a.footer__logo__link(href='/')
      +svg('isolda', 'logo--small black')
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .footer__menu
          include footer-menu.pug
    .row
      .col-lg-8.col-md-8.col-sm-12.col-xs-12
        .footer__news
          h6.footer__news__title
            | Receba novidades
          form.footer__news
            input.footer__input.input--clean(type='text' placeholder='Nome')
            input.footer__input.input--clean(type='email' placeholder='E-mail')
            button.btn.btn--black(action='submit')
              | Enviar
      .col-lg-4.col-md-4.col-sm-12.col-xs-12
        .footer__social
          a.footer__social__link(href='#' target='_blank')
            +svg('facebook-logo', 'facebook black')
          a.footer__social__link(href='#' target='_blank')
            +svg('twitter-logo', 'twitter black')
          //Alterações aqui
          a.footer__social__link(href='#' target='_blank')
            +svg('tumblr-logo', 'tumblr black')
          a.footer__social__link(href='#' target='_blank')
            +svg('instagram-logo', 'instagram black')
          a.footer__social__link(href='#' target='_blank')
            +svg('youtube-logo', 'youtube black')
        a.footer__agile(href='http://www.agenciaagile.com.br' target='_blank')
          img(src='./assets/agile.png')
