head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(charset="utf-8")
  title Isolda
  link(rel='stylesheet' type='text/css' href='style.css')
  link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,700' rel='stylesheet')
  script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
