include ../mixins/svg

//Alterações aqui
header#header.header.header--default
  .header__logo
    a.header__logo__link(href='/')
      +svg('isolda', 'logo white')
  .header__options
    .header__social.hidden-sm.hidden-xs
      a.header__social__link(href='#' target='_blank')
        +svg('facebook-logo', 'facebook white super')
      a.header__social__link(href='#' target='_blank')
        +svg('twitter-logo', 'twitter white super')
      //Alterações aqui
      a.header__social__link(href='#' target='_blank')
        +svg('tumblr-logo', 'tumblr white super')
      a.header__social__link(href='#' target='_blank')
        +svg('instagram-logo', 'instagram white super')
      a.header__social__link(href='#' target='_blank')
        +svg('youtube-logo', 'youtube white super')
    // Alterações aqui!
    .header__language
      a.header__language__option(href='#')
        | PT
      a.header__language__option(href='#')
        | EN
    nav.menu
      include menu
    
