.menu__icon__wrapper
  .menu__icon
ul.menu__list
  li.menu__item
    a.menu__link(href="ready.html")
      | Ready to wear
  li.menu__item
    a.menu__link(href="archive.html")
      | Gallery
  li.menu__item
    a.menu__link(href="press.html")
      | Press
  li.menu__item
    a.menu__link(href="#")
      | Isolda Id
  li.menu__item
    a.menu__link(href="contact.html")
      | Contact
  li.menu__item
    a.menu__link(href="about.html")
      | About
  li.menu__item
    a.menu__link(href="#")
      | Shop Online
