.footer
  font-size 1.3rem
  font-weight $light
  margin-bottom 140px
  margin-top 70px
  text-transform uppercase

  &__logo
    margin-bottom 40px
    text-align center
    width 100%

    @media screen and (max-width: $screen-sm-max) {
      margin-bottom 40px
    }

  &__menu
    &__list
      border-bottom 1px solid $gray-secondary
      margin-bottom 50px
      padding-bottom 75px

      @media screen and (min-width: $screen-md-min) {
        text-align justify
      }

      @media screen and (max-width: $screen-sm-max) {
        column-count 2
      }

      &:after
        @media screen and (min-width: $screen-md-min) {
          content ''
          display inline-block
          width 100%
        }

    &__item
      @media screen and (min-width: $screen-md-min) {
        display inline-block
      }

      @media screen and (max-width: $screen-sm-max) {
        margin-bottom 20px
      }

  &__news
    &__title
      margin 0

      @media screen and (max-width: $screen-sm-max) {
        margin-bottom 20px
      }

  &__input
    margin-bottom 15px

    @media screen and (min-width: $screen-md-min) {
      margin-right 35px
      width 220px !important
    }

  &__social
    padding-top 35px

    @media screen and (max-width: $screen-sm-max) {
      text-align center
    }

    @media screen and (min-width: $screen-md-min) {
      text-align right
    }

    &__link
      &:not(:last-child)
        margin-right 45px

  &__agile
    display block
    margin-top 100px
    width 100%

    @media screen and (max-width: $screen-sm-max) {
      text-align center
    }

    @media screen and (min-width: $screen-md-min) {
      text-align right
    }
