.header
  padding-left 30px
  padding-right 30px
  padding-top 25px
  position fixed
  text-align justify
  top 0
  width 100%
  z-index $z-everest

  &--black
    background-color $white
    box-shadow 0 0 10px 1px #e4e4e4
    transition background-color 0.2s ease-in-out, box-shadow 0.4s ease-in-out

  &:after
    content ''
    display inline-block
    width 100%

  &__logo, &__options
    display inline-block

  &__options
    text-align justify


    &:after
      display inline-block
      width 100%

  &__social, .menu
    display inline-block

  &__social
    &__link
      display inline-block
      margin-right 40px

  &__language
    color $white
    display inline-block
    position relative
    margin-right 8px
    text-transform uppercase
    top -6px

    &--black
      color $black

    &__option
      font-size 1.5rem
      margin-right 10px

      &:not(:last-child)
        &:after
          margin-left 8px
          content '|'
