.menu
  position relative

  &__icon
    background-color $white
    cursor pointer
    display block
    height 3px
    transition opacity 0.3s ease-in-out, transform 0.5s ease-in-out
    width 35px

    @media screen and (min-width: $screen-md-min) {
      position relative
    }

    &:after, &:before
      background-color $white
      content ''
      height 3px
      position absolute
      width 35px

    &:before
      opacity 1
      transition opacity 0.3s ease-in-out, transform 0.5s ease-in-out
      top 10px

    &:after
      top 20px

    &.open
      transform rotate(45deg)
      top 11px

      &:before
        opacity 0
        transform translateX(-100px)

      &:after
        transform rotate(-90deg)
        top 0

    &__wrapper
      cursor pointer
      height 23px

  &__list
    @extends .text-white
    font-size 1.5rem
    font-weight bold
    opacity 0
    position absolute
    right 0
    text-align right
    text-transform uppercase
    top 60px
    transition opacity 0.4s ease-in-out
    visibility hidden
    width 200px

    @media screen and (max-width: $screen-sm-max) {
      background-color rgba(0, 0, 0, 0.6)
      padding 30px
      border-radius 5px
    }

    &.open
      opacity 1
      transition opacity 0.4s ease-in-out
      visibility visible

  &__item
    &:not(:last-child)
      margin-bottom 30px

  &--black
    .menu
      &__icon, &__icon:after, &__icon:before
        background-color $black

      &__icon.open, &__icon.open:after, &__icon.open:before
        z-index 10

      &__list
        @extends .text-black

        &.open
          z-index 10

  &__overlay
    &.active
      background-color rgba(255,255,255,0.8)
      bottom 0
      height 100%
      left 0
      position fixed
      right 0
      top 0
      width 100%
