<!DOCTYPE html>
html
  include base/head.pug
  body
    // Alterações aqui
    div#mobile-check
    div.sprites
      include ../../dist/assets/sprite.svg
    h1.invisible
      | Isolda
      
    include base/black-header.pug    
    .content__wrapper
      h4.content__subtitle
        | Lorem ipsum
      h1.content__title
        | About
      include components/about.pug
    include components/contact-info.pug
    
    include base/footer.pug
    script(type='text/javascript' src='script.js')
