<!DOCTYPE html>
html
  include base/head.pug
  body
    // Alterações aqui
    div#mobile-check
    div.sprites
      include ../../dist/assets/sprite.svg
    h1.invisible
      | Isolda
      
    include base/black-header.pug
    .archive
      h4.archive__subtitle
        | Lorem ipsum
      h1.archive__title
        | Archive
      include components/archive.pug
    
    include base/footer.pug
    script(type='text/javascript' src='script.js')
