<!DOCTYPE html>
html
  include base/head.pug
  body
    // Alterações aqui
    div#mobile-check
    div.sprites
      include ../../dist/assets/sprite.svg
    h1.invisible
      | Isolda
      
    include base/header.pug
    
    include components/banner.pug
    include components/contact-info.pug
    include components/contact-form.pug
    
    include base/footer.pug
    script(type='text/javascript' src='script.js')
