<!DOCTYPE html>
html
  include base/head.pug
  body
    // Alterações aqui
    div#mobile-check
    div.sprites
      include ../../dist/assets/sprite.svg
    h1.invisible
      | Isolda
      
    include base/header.pug
    
    include components/showcase.pug
    include components/home.pug
    
    include base/footer.pug
    include components/modal.pug
    script(type='text/javascript' src='script.js')
