<!DOCTYPE html>
html
  include base/head.pug
  body
    // Alterações aqui
    div#mobile-check
    div.sprites
      include ../../dist/assets/sprite.svg
    h1.invisible
      | Isolda
      
    include base/black-header.pug
    .ready
      h4.ready__subtitle
        | Instagram
      h1.ready__title
        | Ready to Wear
      include components/ready-cycle.pug
    
    include base/footer.pug
    script(type='text/javascript' src='script.js')
