*,
*:after,
*:before
  box-sizing border-box

html,
body
  color $black
  font-family 'Roboto', Arial, sans-serif
  height 100%
  margin 0
  padding 0
  width 100%

img
  height auto
  max-width 100%

a
  color currentColor
  transition color 0.3s ease-in-out, opacity 0.4s ease-in-out

  &:visited, &:active, &:focus
    color currentColor

  &:hover
    color currentColor
    opacity 0.6

.sprites
  height 0
  width 0

  > svg
    height 0
    width 0
