.text-white
  color $white

.text-black
  color $black

.text-gray
  color $gray-primary

h1, h2
  font-weight $bold

h1
  font-size 4.5rem

h2
  font-size 3rem

h3, h4
  text-transform uppercase

h3
  font-size 3.8rem
  font-weight $thin

h4
  font-size 1.6rem

h5, h6
  font-size 1.35rem

h4, h5, h6
  font-weight $light

p
  font-size 1.8rem
  font-weight $light

.content
  h1, h2, h3
    font-size 2.6rem
    font-weight $bold

  h4, h5, h6
    font-size 2.2rem
    font-weight $regular
