.invisible
  background-color transparent
  color transparent
  font-size 0
  height 0

.m-0
  margin-bottom 0 !important
  margin-left 0 !important
  margin-right 0 !important
  margin-top 0 !important

.full
  width 100%

.row-eq-height
  @media (min-width: $screen-md-min) {
    display flex
  }

.row-mob-eq-height
  @media (max-width: $screen-sm-max) {
    display flex
  }

#mobile-check
  height 0
  width 0

  @media (max-width: $screen-sm-max) {
    display none
  }

.m-t-30
  margin-top 30px

.m-t-50
  margin-top 50px

.m-t-80
  margin-top 80px

.p-r-10
  padding-right 10px

.p-l-10
  padding-left 10px
