.content
  line-height 1.2

  @media screen and (min-width: $screen-md-min) {
    padding-left 20px
    padding-right 30px
    padding-top 20px
  }

  &__subtitle, &__title
    text-align center
    width 100%

  &__subtitle
    margin-bottom 0px
    margin-top 100px

  &__title
    line-height 1.2
    margin 0 auto 110px
    max-width 570px

  h1, h2, h3, h4, h5, h6
    text-transform none !important

  h1, h2, h3
    font-size 2.4rem
    font-weight $bold
    margin-bottom 15px
    margin-top 20px

  h4, h5, h6
    font-size 2rem
    font-weight $regular
    margin-bottom 15px
    margin-top 10px

  p
    font-size 1.8rem
    font-weight $light
    margin-bottom 10px
    margin-top 15px
