.archive
  &__subtitle, &__title
    text-align center
    width 100%

  &__subtitle
    margin-bottom 0px
    margin-top 100px

  &__title
    line-height 1.2
    margin 0 auto 110px
    max-width 570px

  &__item
    background-position center center
    background-repeat no-repeat
    background-size cover
    height 500px
    margin-bottom 20px
    position relative
    width 100%

  &__description
    @extends .text-white
    background-color rgba(0, 0, 0, 0.53)
    bottom 100px
    font-size 2.1rem
    font-weight $light
    padding 20px 30px
    position absolute
    right 0
    text-align right
    text-transform uppercase
    width 250px
