.home
  &__subtitle
    margin-bottom 0
    margin-top 0

  &__title
    line-height 1.2
    margin 0 auto 72px
    max-width 570px

  &__about, &__ready-wear
    text-align center

  &__ready-wear
    margin-top 65px

  &__box
    background-position center center
    background-repeat no-repeat
    background-size cover
    height 500px
    position relative
    width 100%

    &__content
      @extends .text-white
      position absolute
      text-align center
      top 50%
      transform translateY(-50%)
      width 100%

    &__title
      margin 0

      &:not(:last-child)
        margin-bottom 30px
