.press
  margin-top 120px
  width 100%

  @media screen and (max-width: $screen-sm-max) {
    padding-left 30px
    padding-right 30px
  }

  &__box
    box-sizing border-box
    height auto
    margin 15px 10px
    max-width calc(20% - 20px)
    width 100%

    &:only-child
      width 100%

    @media screen and (max-width: 1100px) {
      max-width calc(25% - 20px)
    }

    @media screen and (max-width: 900px) {
      max-width calc(33.33333% - 20px)
    }

    @media screen and (max-width: 768px) {
      max-width calc(50% - 60px)
    }

    @media screen and (max-width: $screen-xs-max) {
      margin 15px 0
      max-width calc(100% - 60px)
    }

    img
      width 100%
