.ready
  &__subtitle, &__title
    text-align center
    width 100%

  &__subtitle
    margin-bottom 0px
    margin-top 100px

  &__title
    line-height 1.2
    margin 0 auto 110px
    max-width 570px

  &__link
    display block
    width calc(25% - 30px)

  &__item
    background-position center center
    background-repeat no-repeat
    background-size cover
    padding 0 15px
    display block
    width 100%

  &__controls
    text-align justify
    padding-left 30px
    padding-right 30px

    &:after
      content ''
      display inline-block
      width 100%

    &__prev, &__next
      font-family monospace
      font-size 1.8rem
      cursor pointer
      display inline-block
      line-height 1
      padding 5px
