.container
  .row
    .col-lg-5.col-md-5.col-sm-12.col-xs-12
      img.about__image(src='./assets/about.jpg')
    .col-lg-7.col-md-7.col-sm-12.col-xs-12
      .content
        h2
          | Founded in London in 2011, Isolda is a Brazilian fashion label with a young, playful and innovative spirit that delights women around the world. 
        h4
          | Inspired by the design and cultural heritage of Brazil, the brand’s avant-garde prints have attracted the attention of the global fashion industry, while its ability to approach fashion from an alternative perspective allows Isolda to introduce a fresh, natural vision of modern femininity.
        p
          | Isolda designs and produces women’s ready-to-wear in the highest quality natural fabrics, combining contemporary design with artistic elegance. Isolda hand-paints the individual elements of each unique print to achieve its signature colours and create clothing that explores the rich tapestry of Brazilian lifestyle and culture.
        p
          | Isolda is Love. Inspired by the romance Tristan and Isolda, the great-grandfather of co-founder Juliana Affonso Ferreira, Alceu Amoroso Lima, a literary critic and member of the Brazilian Academy of Letters, published his work under the pseudonym Trystão de Athayde and lovingly called his wife, Tereza de Faria, Isolda. The brand is dedicated to Alceu & Tereza and the love stories of other couples through the ages.
        p
          | The Isolda woman is cosmopolitan: she knows the world and the world wants to know about her. She loves colour and sexy design that make her stand out from crowd as a connoisseur of exclusive fashion. Romantic and playful woman, she shines each day.
