.container
  .row
    .col-lg-4.col-md-4.col-sm-6.col-xs-12
      .archive__item(style='background-image: url("./assets/ready-1.jpg")')
        span.archive__description
          | Risort
    .col-lg-4.col-md-4.col-sm-6.col-xs-12
      .archive__item(style='background-image: url("./assets/ready-2.jpg")')
        span.archive__description
          | SS`15
    .col-lg-4.col-md-4.col-sm-6.col-xs-12
      .archive__item(style='background-image: url("./assets/ready-3.jpg")')
        span.archive__description
          | SS`15
    .col-lg-4.col-md-4.col-sm-6.col-xs-12
      .archive__item(style='background-image: url("./assets/ready-1.jpg")')
        span.archive__description
          | Risort
    .col-lg-4.col-md-4.col-sm-6.col-xs-12
      .archive__item(style='background-image: url("./assets/ready-2.jpg")')
        span.archive__description
          | SS`15
    .col-lg-4.col-md-4.col-sm-6.col-xs-12
      .archive__item(style='background-image: url("./assets/ready-3.jpg")')
        span.archive__description
          | SS`15
