.form
  .container
    h2.form__title
      | Lorem ipsum dolor sit amet
    form
      .row
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
          input.m-t-50.p-r-10(type='text' placeholder='Nome')
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
          input.m-t-50.p-l-10(type='email' placeholder='E-mail')
      .row
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
          input.m-t-50.p-r-10(type='text' placeholder='Telefone')
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
          input.m-t-50.p-l-10(type='text' placeholder='Empresa')
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          label.m-t-80
            | Mensagem
          textarea
          .form__submit
            button.m-t-30.btn.btn--black(action='submit')
              | Enviar
