.contact
  .container
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        h2.contact__title
          | Isolda flagship
        .contact__list
          .contact__item
            .contact__icon
              +svg('pin', 'pin black')
            .contact__text
              | Shopping Iguatemi - Piso Superior
              br
              | Av. Brig. Faria Lima, 2232 - São Paulo
          .contact__item
            .contact__icon
              +svg('phone', 'phone black middle')
            .contact__text
              a.contact__link(href='tel: +551130313541' target='_blank')
                | +55 11 3031-3541
          .contact__item
            .contact__icon
              +svg('email', 'email black middle')
            .contact__text
              a.contact__link(href='mailto: isolda.iguatemi@isoldabrasil.com' target='_blank')
                | isolda.iguatemi@isoldabrasil.com
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        h2.contact__title
          | Isolda flagship
        .contact__list
          .contact__item
            .contact__icon
              +svg('pin', 'pin black')
            .contact__text
              | Shopping Iguatemi - Piso Superior
              br
              | Av. Brig. Faria Lima, 2232 - São Paulo
          .contact__item
            .contact__icon
              +svg('phone', 'phone black middle')
            .contact__text
              a.contact__link(href='tel: +551130313541' target='_blank')
                | +55 11 3031-3541
          .contact__item
            .contact__icon
              +svg('email', 'email black middle')
            .contact__text
              a.contact__link(href='mailto: isolda.iguatemi@isoldabrasil.com' target='_blank')
                | isolda.iguatemi@isoldabrasil.com
            
          
