section.home
  .home__about
    h4.home__subtitle
      | Sobre a Isolda
    h1.home__title
      | Lorem ipsum dolor sit amet, elit lorem dolor lorem
  .container
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .home__box(style='background-image: url("./assets/sobre-1.jpg")')
          .home__box__content
            h3.home__box__title
              | Dolor assimet
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .home__box(style='background-image: url("./assets/sobre-2.jpg")')
          .home__box__content
            h3.home__box__title
              | Dolor assimet
            a.btn.btn--white(href='#')
              | Ler mais
              
  .home__ready-wear
    h4.home__subtitle
      | Instagram
    h1.home__title
      | Ready to Wear
  .container
    .row
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        .home__box(style='background-image: url("./assets/ready-1.jpg")')
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        .home__box(style='background-image: url("./assets/ready-2.jpg")')
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        .home__box(style='background-image: url("./assets/ready-3.jpg")')
