.modal
  .modal__overlay
  .modal__content__wrapper
    .container
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .modal__content__inner
            .row.row-eq-height
              .col-lg-6.col-md-6.hidden-sm.hidden-xs
                .modal__image(style='background-image: url("./assets/ready-1.jpg")')
              .col-lg-6.col-md-6.col-sm-12.col-xs-12
                .modal__content
                  .modal__header
                    .modal__close
                  .modal__description
                    h2.modal__title
                      | Lorem ipsum dolor sit amet, elit lorem dolor lorem
                    form.modal__form
                      input.modal__input(type='text' placeholder='Nome')
                      input.modal__input(type='email' placeholder='E-mail')
                      .form__submit
                        button.modal__button.btn.btn--black(action='submit')
                          | Enviar
                
              
