include ../mixins/svg

.ready__controls
  .ready__controls__prev
    | <
  .ready__controls__next
    | >
    
// Alterações aqui
.ready__slide.cycle-slideshow(
  data-cycle-fx='carousel'
  data-cycle-carousel-visible='4'
  data-cycle-carousel-fluid='true'
  data-cycle-timeout='0'
  data-cycle-speed="0"
  data-cycle-slides="> a"
  data-cycle-prev=".ready__controls__prev"
  data-cycle-next=".ready__controls__next"
  data-cycle-swipe='true'
  data-cycle-swipe-fx='scrollHorz'
)
  // Alterações aqui
  a.ready__link(href='./assets/ready-1.jpg' data-lightbox='gallery')
    img.ready__item(src="./assets/ready-1.jpg")
  a.ready__link(href='./assets/ready-2.jpg' data-lightbox='gallery')
    img.ready__item(src="./assets/ready-2.jpg")
  a.ready__link(href='./assets/ready-3.jpg' data-lightbox='gallery')
    img.ready__item(src="./assets/ready-3.jpg")
  a.ready__link(href='./assets/ready-1.jpg' data-lightbox='gallery')
    img.ready__item(src="./assets/ready-1.jpg")
  a.ready__link(href='./assets/ready-2.jpg' data-lightbox='gallery')
    img.ready__item(src="./assets/ready-2.jpg")
  a.ready__link(href='./assets/ready-3.jpg' data-lightbox='gallery')
    img.ready__item(src="./assets/ready-3.jpg")
