.showcase
  .showcase__slide.cycle-slideshow(
    data-cycle-fx="fadeout"
    data-cycle-pause-on-hover="true"
    data-cycle-speed="600"
    data-cycle-prev=".showcase__controls__prev"
    data-cycle-next=".showcase__controls__next"
    data-cycle-slides="> a"
    data-cycle-swipe='true'
    data-cycle-swipe-fx='scrollHorz'
  )
    a.showcase__item(href='#' style='background-image: url("./assets/vitrine.jpg")')
    a.showcase__item(href='#' style='background-image: url("./assets/vitrine.jpg")')
  .showcase__controls
    .showcase__controls__prev
    .showcase__controls__next
